{
    "discord": {
        "token": "",
        "client_id": "",
        "client_secret": ""
    },
    "mongodb": {
        "uri": "",
        "dbName": ""
    },
    "lavalink": {
        "nodes": [
            {
                "host": "",
                "port": 0,
                "password": ""
            }
        ]
    },
    "spotify": {
        "client_id": "",
        "client_secret": ""
    },
    "ksoft": {
        "token": "",
        "tokenv2": ""
    },
    "topgg": {
        "token": ""
    }
}